/* For resetting CSS */
* {
  padding: 0;
  margin: 0;
}
/* Designing Header*/

header {
  background-color: black;
}
nav ul {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  padding: 0 27px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
/* Designing Logo */
nav .logo {
  color: red;
  box-shadow: rgb(83, 12, 12);
  padding: 0 10px;
}
nav {
  display: flex;
  align-items: center;
}

/* Designing search_box */
.search_box {
  display: flex;
  align-items: center;
  
}

.search_box input {
    width: 30vw;
      margin: 0 10px 0 64px;
    padding: 0 12px;
  border-radius: 18px;
  
}

/* Designing search_button */
.btn a {
  color: white;
  text-decoration: none;
  
}
/* Designing Footer */
footer {
  background-color: blue;
  height: 12vh;
}
footer p {
  color: white;
}

/* Content */
.container {
  min-height: 100vh;
  
}


.slider img  {
width: 70vw;



}
.slider {
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
.cards {
    
padding:16px 23px;
}
.cards img {
    width: 100px;
}
.cards h2 {
        padding: 11px;
}
.card-items {
    display: flex;
    

}
.card-items img {
    padding: 5px;
}